<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Movie List</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="movie-body">
      <% movieList.forEach((movie) => { %>
      <img src="#" alt="<%= movie.title %>" />
      <h2><%= movie.title %></h2>
      <p>Year: <%= movie.year %></p>
      <% }); %>
    </div>
    <form action="/add" method="post">
      <input type="text" name="title" placeholder="Title" /><br />
      <input type="number" name="year" placeholder="Year" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
